<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Internal Meal Box</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "button", :type => "button" %></li>
    </ul>
  </div>
</div>
<div class="row">
  <h5> Hello, <%= current_user.email%></h5>
</div>
<div class="row">
   <div class="large-6 large-offset-3 columns">
    <div class="callout secondary">
      <h6>Your meal of the day :</h6>
       <%if current_user.meal_of_the_day.nil?%>
        <p>No meal allocated yet, either your preferences are not updated or Allocation is not yet done!</p>
       <%else%>
        <strong><%= current_user.meal_of_the_day%></strong>
       <%end%>
    </div>
   </div>
</div>

