<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Internal Meal Box</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/randomize_meals" type="button" class="button">Randomize meals</a></li>
      <li><a href="/users/sign_in" type="button" class="button">Allocate</a></li>
      <li><a href="/users/sign_in" type="button" class="button">Reset All</a></li>
      <li><a href="/users/sign_in" type="button" class="button">Login</a></li>
    </ul>
  </div>
</div>
 <br><br>
<div class="row">
  <div class="large-8 large-offset-2 columns">
    <div class="callout secondary">
      <h5>Meal box Details:</h5>
 	<table class="hover">
	  <thead>
	    <tr>
		<th>Name of meal box</th>
		<th>Category</th>
		<th>Total no of boxes</th>
		<th>Available boxes</th>
	    </tr>
	  </thead>	
          <tbody>
	    <%Meal_Box.all.each do |meal|%>
	    <tr>
	      <td><%= meal.name%></td>
	      <td><%= meal.category%></td>
	      <td><%= meal.total_count%></td>
	      <td><%= meal.available%></td>
	    </tr>
	   <%end %>	
	  </tbody>
	</table>
    </div>
  </div>
</div>
 <br><br>
<div class="row">
  <div class="large-8 large-offset-2 columns">
    <div class="callout secondary">
      <h5>User Details:</h5>
       <table class="hover">
          <thead>
            <tr>
                <th>User login</th>
                <th>Password</th>
		<th>Meal of the day</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>

